<div class="container">
<h1>Edit a new costume</h1>

<%= simple_form_for(@costume) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :size %>
  <%= f.input :material %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
</div>
