
<div class="row justify-content-center ">
  <div class="col-sm-8 my-3">
    <%= form_with url: costumes_path, method: :get, class: "d-flex justify-content-center " do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control search-input",
            placeholder: ""
        %>

     <button class="btn btn-search" type="submit">
      <i class="fas fa-search"></i>
    </button>
    <% end %>
  </div>
</div>




<div class="container my-3" style="height: 140vh">
  <h1 class="text-center">All Costumes</h1>
  <br>

  <div class="costume-card-container">

    <% if @costumes.any? %>

    <% @costumes.each do |costume| %>

      <div class="costume-index-card">
      <div class="costume-index-card-img" style="background-image:url('<%= cl_image_path costume.photos.first.key unless costume.photos.empty? %>')"></div>
        <div class="card-body">
          <h2><%= link_to costume.name, costume_path(costume) %></h2>
          <h5 class="card-subtitle mb-2 text-muted">£<%= costume.price %>/day</h5>
          <p class="card-text">Location: <%= costume.user.location %></p>
        </div>
      </div>

    <% end %>

     <% else %>
          <em>Sorry, no costumes found.</em>
        <% end %>


  </div>
  <br>

</div>
