<div class="container">
<h1><%= @costume.name %></h1>
<h3>$<%= @costume.price %></h3>
<p><em>category:</em> <%= @costume.category %></p>
<p><em>size:</em> <%= @costume.size %></p>
<p><em>material:</em> <%= @costume.material %></p>
<p><em>description:</em> <%= @costume.description %></p>

<p><%= link_to "remove", costume_path(@costume), data: { turbo_method: :delete, turbo_confirm: "are you sure?" } %></p>

<p><%= link_to "add a new costume", new_costume_path %></p>

<p><%= link_to "back to all costumes", costumes_path %></p>


</div>
