<div class="container">
<h1><%= @costume.name %></h1>
<h3>$<%= @costume.price %></h3>
<% @costume.photos.each do |photo| %>
  <%= cl_image_tag photo.key, :width=>250, :height=>250, :gravity=>"faces", :crop=>"fill" %>
<% end %>

<p><em>category:</em> <%= @costume.category %></p>
<p><em>size:</em> <%= @costume.size %></p>
<p><em>material:</em> <%= @costume.material %></p>
<p><em>description:</em> <%= @costume.description %></p>

<div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= [@marker].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="show_buttons_container">

<div class="show_button-container mt-3">
  <% unless current_user == @costume.user %>
    <a href="<%= new_costume_booking_path(@costume) %>" class="btn btn-form">Book me</a>
  <% end  %>
</div>

<div class="show_button-container">
  <a href="/costumes/my_costumes" class="btn btn-form">My Costumes</a>
</div>

<div class="show_button-container">
  <a href="/costumes" class="btn btn-form">All Costumes</a>
</div>
</div>

</div>
