<div class="container">
<h1><%= @costume.name %></h1>
<h3>$<%= @costume.price %></h3>
<% @costume.photos.each do |photo| %>
  <%= cl_image_tag photo.key, :width=>250, :height=>250, :gravity=>"faces", :crop=>"fill" %>
<% end %>

<p><em>category:</em> <%= @costume.category %></p>
<p><em>size:</em> <%= @costume.size %></p>
<p><em>material:</em> <%= @costume.material %></p>
<p><em>description:</em> <%= @costume.description %></p>

<div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= [@marker].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<% unless current_user == @costume.user %>
<!--<p><%= link_to "Book me", new_costume_booking_path(@costume) %></p> -->
  <div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book me</button>
    <div data-toggle-target="togglableElement" class="d-none">
      <%= render "bookings/new", booking: @booking %>
    </div>
  </div>
<% end  %>


<p><%= link_to "my costumes", my_costumes_costumes_path %></p>

<p><%= link_to "all costumes", costumes_path %></p>


</div>
