<h1 class="text-center">New Booking</h1>

<div class="my-3">
  <%= simple_form_for([@costume, @booking]) do |f| %>

      <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :price, input_html: {disabled: :true} %>

    <%= f.submit class: "btn btn-primary" %>

  <% end %>
</div>
